<div class="container-md mt-5 mb-5">
  <!-- start Row filterForm + gig -->
  <!-- gigs Col -->
  <app-loading-spinner *ngIf="spinnerOn"></app-loading-spinner>
  <div class="col" *ngIf="!spinnerOn">
    <ul class="list-group list-group-flush">
      <ng-container *ngIf="milestones.length <= 0">
        <li class="list-unstyled">Unfortunately No Element To Display</li>
        <br /><br /><br /><br /><br />
      </ng-container>

      <app-milestone-display
        *ngFor="let milestone of milestones"
        [milestoneModel]="milestone"
      ></app-milestone-display>
    </ul>
  </div>
  <!-- end gig col -->
</div>
<!-- end row -->
