<header class="header navbar-area">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark font-basic-playfair">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/">
        <img
          src="assets/images/logo-nbg.svg"
          alt="Logo-here"
          title="Home"
          class="navbar-brand-logo"
      /></a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <!-- below is the icon of 3 horizontal line for toggle click displa -->
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="gigs">Ghayth</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="gigs">Oussema </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="gigs">Ghaith</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="gigs">Wissem </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="gigs">Mayssa </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="gigs">Ines </a>
          </li>

          <!-- start nav-item-drop-down -->
          <li class="nav-item dropdown">
            <a
              class="active nav-link dropdown-toggle"
              href="#"
              id="navbarDropdownMenuLink"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Freelancing
            </a>
            <ul
              class="dropdown-menu dropdown-menu-dark"
              aria-labelledby="navbarDropdownMenuLink"
            >
              <li><a class="dropdown-item py-2" routerLink="gigs">gigs1</a></li>
              <li>
                <a class="dropdown-item py-2" routerLink="gigs/create">gigs2</a>
              </li>
              <li>
                <a class="dropdown-item py-2" routerLink="gigs"
                  >Something else here</a
                >
              </li>
            </ul>
          </li>
          <!-- end dropdown item -->
        </ul>
        <ul class="navbar-nav">
          <!-- <li class="nav-item">
            <a class="nav-link" routerLink="gigs">
              <i class="fas fa-sign-out-alt"></i>
            </a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link" routerLink="gigs">
              <i class="fas fa-sign-in-alt"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
