<div class="container-md mt-5 mb-5">
  <!-- start Row filterForm + gig -->
  <!-- gigs Col -->
  <div class="col">
    <ul class="list-group list-group-flush">
      <!-- <app-gig-element title="" description="" price=""  files="" skill="" openbtn="" applybtn="" ></app-gig-element> -->
      <ng-container *ngIf="applications.length <= 0">
        <li class="list-unstyled">Unfortunately No Element To Display</li>
        <br /><br /><br /><br /><br />
      </ng-container>
      <app-application-display
        [showElementsInListView]="false"
        *ngFor="let application of applications"
        [gigmodelId]="gigId ?? null"
        [applicationModel]="application"
        [showDetailComponent]="showDetail"
      ></app-application-display>
    </ul>
  </div>
  <!-- end gig col -->
</div>
<!-- end row -->

<!-- end container filter + gigs -->
