<form [formGroup]="addApplicationForm" (ngSubmit)="submitForm()">
  <div class="mb-3 mt-3">
    <label for="profile" class="form-label">Profile Link </label>
    <app-input
      idInput="profile"
      typeInput="text"
      [control]="freelancerProfile"
      placeholderString="Insert profile link where customer can see ur profile or contact u  "
    />
  </div>
  <div class="mb-3 mt-3">
    <label for="app-desc" class="form-label me-2">Offer Description</label>
    <app-text-area
      placeholderString="Application Description"
      [rowsCount]="7"
      [control]="description"
      idInput="app-desc"
    >
    </app-text-area>
  </div>

  <div class="mb-3 mt-3">
    <label for="offerbid" class="form-label me-2">Offer Bid</label>
    <app-input
      typeInput="number"
      placeholderString="Biding Amount (what you will charge )"
      [control]="bid"
      idInput="offerbid"
    ></app-input>
  </div>

  <div class="mb-3 mt-3">
    <app-input
      typeInput="number"
      placeholderString="Extra Cost Expenses if appliable (templates , deployment , etc ...) "
      [control]="extraCost"
    ></app-input>
  </div>

  <div class="mb-3 mt-3">
    <label for="wallet" class="form-label">WalletId </label>
    <app-input
      idInput="wallet"
      typeInput="text"
      [control]="walletId"
      placeholderString="Insert your E-walletId here "
    />
  </div>

  <div class="mb-3 mt-3">
    <div class="form-label me-2">Add Past jobs-Refernces</div>
    <div class="btn-group-sm d-inline">
      <button
        class="btn btn-secondary btn-sm me-2 btn-light"
        (click)="removeWorkRefernce()"
        type="button"
      >
        <i class="fa fa-minus" aria-hidden="true"></i>
      </button>
      <button
        class="btn btn-secondary btn-sm me-2 btn-light"
        type="button"
        (click)="addWorkRefernce()"
      >
        <i class="fa fa-plus" aria-hidden="true"></i>
      </button>
    </div>
    <div class="card card-body" *ngIf="workRefernces.length > 0">
      <app-input
        *ngFor="let controlElement of workRefernces.controls; let i = index"
        typeInput="text"
        placeholderString="Link of WorkReference {{ i + 1 }}"
        [control]="getFormControl(controlElement)"
      ></app-input>
    </div>
  </div>

  <div class="mb-3 mt-3">
    <app-text-area
      placeholderString="Questions u wish to ask "
      [rowsCount]="7"
      [control]="questions"
      [idInput]="questions"
    >
    </app-text-area>
  </div>

  <div class="mb-3 mt-3">
    <label for="filesuploads" class="form-label">Relevent Files </label>
    <app-input
      idInput="filesuploads"
      typeInput="file"
      [isMultiple]="true"
      placeholderString="Ensert Relevent Project Files (templates, architecture , etc ...)"
      (change)="selectFiles($event)"
    >
    </app-input>
  </div>

  <div class="mb-3 mt-3 bg-secondary">
    <input
      type="checkbox"
      class="form-check-input ms-1"
      [formControl]="policy"
    />
    Accept Agreement & Policies
  </div>

  <!-- contains modal info -->
  <button
    class="btn btn-success"
    type="submit"
    data-bs-toggle="modal"
    data-bs-target="#modalAddApplication"
    [disabled]="!addApplicationForm.valid"
  >
    Add Application
  </button>
</form>
