<!-- trigger modal button -->
<!-- <div class="container mt-3">
  <button
    type="button"
    data-bs-toggle="modal"
    data-bs-target="#{{modalId}}"
  >
    Open modal
  </button>
</div> -->
<!-- trigger modal button -->

<!-- The Modal -->
<div class="modal fade" id="{{ modalId }}">
  <div class="modal-dialog modal-lg modal-fullscreen-lg-down">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">
          <ng-content select="[heading]"></ng-content>
        </h4>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
        ></button>
      </div>

      <div class="modal-body">
        <ng-content></ng-content>
      </div>

      <div class="modal-footer">
        <ng-content select="[footing]"></ng-content>
      </div>
    </div>
  </div>
</div>
