<!-- if nothing to display -->
<div class="container" *ngIf="milestoneModel == null">
  <ul class="list-group list-group-flush list-unstyled">
    <li><br /></li>
    <li class="list-group-item">
      Nothing TO Display No Shuch Milestone exists
      <i class="fa fa-arrow-right" aria-hidden="true"></i> ERROR: Ammar 404
    </li>
    <li><br /><br /><br /><br /><br /><br /><br /><br /></li>
  </ul>
</div>
<!-- element of a list Starts here -->
<div class="card list-group-item border-0" *ngIf="milestoneModel != null">
  <div class="card-header">
    <h5 class="fs-5">
      <a [routerLink]="['/gigs/milestones', milestoneModel.id]"
        >Milestone {{ milestoneModel.id }}</a
      >
    </h5>
  </div>
  <div class="card-body">
    <!-- row-of attribute -->
    <div class="d-grid">
      <span class="d-grid me-3">
        <h6>
          Goal Description:
          <span class="badge bg-danger ms-2">
            {{
              (milestoneModel.amount ? milestoneModel.amount : 0)
                | currency : "USD" : "symbol" : "1.0-0"
            }}-[{{ milestoneModel.amountPercentage! / 100 | percent }} of Total
            Project Cost]</span
          >
        </h6>
        <p class="fs-6 ms-4">
          {{ milestoneModel.goalDescription }}
        </p>
      </span>
    </div>

    <div class="d-grid">
      <h6 class="flex-fill">Date Planeed To Start Working on Milestone:</h6>
      <p class="ms-4">
        {{ milestoneModel.dateStartWorking | date : "MM/dd/yyyy h:mm a z" }}
      </p>
    </div>

    <div class="d-grid">
      <h6 class="flex-fill">Date Payment of Milestone:</h6>
      <p class="ms-4">
        {{ milestoneModel.datePayment | date : "MM/dd/yyyy h:mm a z" }}
      </p>
    </div>

    <!-- <div *ngIf="showDescription"> -->
    <!-- Show application -->
    <div class="d-flex">
      <span class="me-3 flex-fill">
        <h6 class="flex-fill">Files:</h6>
        <p class="ms-4 flex-fill">
          <!-- loop downloadable files with span -->
          <span
            class="me-3 flex-fill"
            *ngFor="let file of milestoneModel.milestoneDeliverable"
            ><a [href]="file.path ? pathToDownload + file.path : '#'">
              {{
                (file.name ? file.name + "." : "") +
                  (file.extension ? file.extension : "")
              }}
            </a></span
          >
        </p>
      </span>
    </div>

    <div class="d-grid">
      <h6 class="flex-fill">
        WalletId of Freelancer:(only visible for users owners)
      </h6>
      <p class="ms-4">
        {{ milestoneModel.walletFreelancer }}
      </p>
    </div>
    <div class="d-grid">
      <h6 class="flex-fill">
        WalletId of Customer:(only visible for users owners)
      </h6>
      <p class="ms-4">
        {{ milestoneModel.walletCustomer }}
      </p>
    </div>
    <!-- </div> -->

    <!-- button div -->
    <ng-container *ngIf="this.currentUserId === this.milestoneModel.ownerId">
      <div class="d-flex">
        <button
          [disabled]="
            !dateTodayGreaterOrEqualsPaymentDate ||
            milestoneModel.validatedByGigCreator
          "
          class="btn btn-dark btn-sm me-2 flex-fill"
          (click)="reportMilestone()"
        >
          {{
            !dateTodayGreaterOrEqualsPaymentDate ||
            milestoneModel.validatedByGigCreator
              ? "Can't Report Now"
              : "Report Milestone"
          }}
        </button>
        <!--  -->
        <button
          [disabled]="milestoneModel.deposited"
          class="btn btn-dark btn-sm me-2 flex-fill"
          type="button"
          (click)="activateMileStone()"
        >
          {{
            milestoneModel.deposited
              ? "Already Activated"
              : "Activate MileStone"
          }}
        </button>
      </div>

      <div class="d-flex mt-2">
        <button
          [disabled]="
            milestoneModel.validatedByGigCreator ||
            milestoneModel.applicationWon == null ||
            !milestoneModel.deposited
          "
          type="button"
          class="btn btn-info btn-sm me-2 flex-fill"
          (click)="validateMilestoneByCustomerToPayFreelancer()"
        >
          {{
            milestoneModel.validatedByGigCreator
              ? " Already Validated And Payed"
              : "Validate Milestone "
          }}
        </button>
      </div>
    </ng-container>
    <!--  -->
    <ng-container
      *ngIf="
        this.currentUserId === milestoneModel.ownerId ||
        this.currentUserId === milestoneModel.freelancerId
      "
    >
      <div>
        <div class="d-flex mt-2">
          <button
            [disabled]="
              milestoneModel.validatedByGigCreator ||
              !dateTodayPlus3DaysGreaterOrEqualsOfPaymentDate
            "
            type="button"
            class="btn btn-danger btn-sm me-2 flex-fill"
            (click)="requestPaymentMilestone()"
            [disabled]=""
          >
            {{
              milestoneModel.validatedByGigCreator ||
              !dateTodayPlus3DaysGreaterOrEqualsOfPaymentDate
                ? "Too Early Or Already Payed"
                : "Request Payment Or Refund"
            }}
          </button>
        </div>
        <div class="d-flex mt-2">
          <div class="alert alert-info">
            <small>
              You Can Request Payment Or Refund If Already Not Payed Only After
              3 Days Passed From the Date Payment of the current milestone
            </small>
          </div>
        </div>
      </div>
    </ng-container>
    <div class="d-flex mt-2" *ngIf="errorMsg != null">
      <div class="alert alert-info flex-fill">
        {{ errorMsg }}
      </div>
    </div>
    <!--  -->
    <ng-container *ngIf="this.currentUserId === milestoneModel.freelancerId">
      <div class="d-flex text-white mt-1">
        <a
          class="btn btn-light btn-outline-dark btn-sm me-2 flex-fill"
          [routerLink]="['/gigs/milestones', milestoneModel.id, 'update']"
        >
          Update Milestone (by freelancer)
        </a>
      </div>
    </ng-container>
  </div>
  <hr />
</div>
<!-- element of a list ends here  -->
