/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
.bg-custom-black{
    background-color: rgba(0, 0, 0, 255)
}

.bg-custom-extra-black{
    background-color: rgba(4, 7, 17, 0.923)
}

.text-whitish {
  color: #cccacaf4; /* Slightly off-white color */
}

.navbar-brand-logo{
    width: 7rem;
    height: auto;
}

.font-basic-roboto {
    font-family: 'Roboto', sans-serif;
}

.font-basic-lato {
    font-family: 'Lato', sans-serif;
}

.font-basic-montserrat {
    font-family: 'Montserrat', sans-serif;
}

.font-basic-playfair {
    font-family: 'Playfair Display', serif ;
    letter-spacing: 0.08rem;
    font-size: 1.1rem; /* Adjust font size as needed */
    font-weight: 600; /* Semi-bold weight */
    line-height: 1.6; /* Adjust line height */
    color: #ffffff; /* White text color for high contrast */
}
