<!-- nav freelance -->
<nav class="navbar navbar-expand-md bg-body-secondary">
  <div class="container-fluid">
    <div class="navbar-nav" id="navbarNav">
      <ul class="navbar py-0 list-unstyled">
        <li class="nav-item py-0 me-3">
          <button
            type="button"
            class="nav-link link-success py-0"
            data-bs-toggle="modal"
            data-bs-target="#modalGigCreate"
          >
            Create Gig
          </button>
        </li>
        <li class="nav-item py-0 me-3">
          <a
            class="nav-link link-success py-0"
            [routerLink]="['/gigs/milestones/my']"
            >My Gigs
          </a>
        </li>
        <li class="nav-item py-0 me-3">
          <a
            [routerLink]="['/gigs/milestones/myAssigned']"
            class="nav-link link-success py-0"
            routerLink="mygigs"
            >Granted Milestones
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- end - nav freelance -->
<div class="card">
  <div class="card-header">Filter</div>
  <div class="card-body">
    <form>
      <label for="inputEmail2" class="form-label">Project Price</label>
      <div class="row">
        <div class="col col-6">
          <input
            [formControl]="searchUnderMaxPrice"
            id="maxPrice"
            class="form-control mb-1"
            type="number"
            placeholder="max in DT"
            (keyup)="onSearch()"
          />
        </div>
        <div class="col col-6">
          <input
            (keyup)="onSearch()"
            [formControl]="searchAboveMinPrice"
            class="form-control"
            type="number"
            placeholder="min in DT"
          />
        </div>

        <div id="passwordHelpBlock" class="form-text">
          Filter by project price.
        </div>
      </div>

      <!-- end input -->
    </form>
  </div>
</div>

<app-loading-spinner *ngIf="spinnerOn"></app-loading-spinner>
<!-- container filterForm + gigs -->
<div class="container-fluid mt-5 mb-5" *ngIf="!spinnerOn">
  <!-- start  gig -->
  <div class="row align-items-start">
    <!-- gigs Col -->
    <div class="col">
      <ul class="list-group list-group-flush">
        <!-- <app-gig-element title="" description="" price=""  files="" skill="" openbtn="" applybtn="" ></app-gig-element> -->
        <app-gig-display
          *ngFor="let gig of gigs"
          [gigmodel]="gig"
          [iSprojectStartDateBeforeToday]="
            isProjectStartBeforTodayFunction(gig.projectStart!)
          "
          [showDescription]="showDescription"
          [showApplications]="showApplications"
          [showMilestones]="showMilestones"
          [onlyShowInComponent]="false"
        ></app-gig-display>
      </ul>
    </div>

    <!-- end gig col -->
  </div>
  <!-- end row -->
</div>
<!-- end container filter + gigs -->
<div class="d-flex justify-content-center">
  <app-pagination
    [totalPages]="totalPages"
    [currentPage]="currentPage"
    (pageChange)="onPageChange($event)"
  ></app-pagination>
</div>
<!-- *********Create-Modal***************** -->
<app-modal modalId="modalGigCreate">
  <div heading>Creating A gig</div>
  <app-gig-create> </app-gig-create>

  <div footing *ngIf="false">
    <!-- use this button to close modals -->
    <button
      type="button"
      class="nav-link link-success py-0"
      data-bs-toggle="modal"
      data-bs-target="#modalGigCreate"
    >
      Create Gig
    </button>
  </div>
</app-modal>
